---
import TableOfContent from "../../../components/TableOfContent.astro";
import TagsList from "../../../components/TagsList.astro";
import Base from "../../../layouts/Base.astro";
import { getCollection, render } from "astro:content";

export async function getStaticPaths() {
  const posts = await getCollection("blog");
  return posts.map((post) => ({
    params: { id: post.id },
    props: { post },
  }));
}

const { post } = Astro.props;
const { Content, headings } = await render(post);
---

<Base title={post.data.title}>
  <main>
    <h1>{post.data.title}</h1>
    <details>
      <summary>Table of Content</summary>
      <TableOfContent headings={headings} />
    </details>
    <summary>{post.data.summary}</summary>
    <Content />
    <section>
      <h2>Tags</h2>
      <TagsList tags={post.data.tags} />
    </section>
  </main>
</Base>
